/* выбираем все элементы и их псевдоэлементы*/
*, *::before, *::after {
    box-sizing: border-box;
    /* padding и  border более не влияют на ширину элемента*/
}

body {
    font: 12px/1.8 Arial, sans-serif;
    color: #000;
}

.welcome {
    padding: 0;
    margin: 0;
    background: url(../img/bg.jpg) center/cover;
    width: 100%;
    height: 800px;
}

.welcome1 {
    background: #1c4674;
    padding: 0;
    margin: 0;
    color: #fff;
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-transform: uppercase;
}

.welcome1 .logo {
    width: 25%;
    float: left;
    padding: 7px;
}

.welcome1 img {
    width: 180px;
}

.welcome1 .text {
    width: 75%;
    float: right;
    padding: 7px;
    text-align: right;
    color: rgb(245,234,177);
    font-size: 16px;
}

.proceedings {
    padding: 0;
    margin: 0;
    background: rgb(205,215,230);
}

.proceedings p {
    padding: 0;
    margin: 0;
}

.proceedings h2 {
    padding: 0;
    margin: 0;
}

.toma {
    overflow: hidden;
    padding: 0 2px 50px; 
    background: rgb(205,215,230);
}

.item {
    float: left;
    width: 50%;  
    padding: 2px;
}

h1 {
    font: 18px/1.8 Arial, sans-serif;
    font-weight: bold;
}

.btn {
    text-decoration: none;
    font: 12px/1.8 Arial, sans-serif;
    color: #000;
    display: block;
    padding: 15px 0;
    border: 0;
    transition: 1s;
}

.btn:hover {
    background: #1c4674;
    color: rgb(245,234,177);
}

.container {
    margin: 0 auto;
    padding-bottom: 30px;
    width: 1145px;
}

.menu
{
    background: #1c4674;
    overflow: hidden;
    font-size: 18px;
    top: 0;
    left: 0;
    z-index: 100;

}

.menu ul {
    float: left;
    margin: 0;
    padding: 0 0 0 200px;
    list-style: none;
    text-align: center;
}
 
.menu li {
    display: inline-block;
    vertical-align: top;
}

.menu li a {
    color: rgb(245,234,177);
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    font-weight: bold;
    font-size: 20px 25px;
    text-transform: uppercase;
    transition: 1s;
}

.menu li a:hover {
    background: rgba(0,0,0,0.2);
}

 footer {
    background: rgb(205,215,230);
    font-size: 12px;
    text-align: left;
    padding: 15px 0 15px 80px;
 }

 .S1 {
    background: rgb(205,215,230);
    margin: 0;
}

 .S6 {
    background: rgb(205,215,230);
    margin: 0;
}

.S6 .container {
    margin: 0 auto;
    padding-bottom: 180px;
    width: 1145px;
}

/*Оглавление*/
ul.oglavl {
    padding: 0;
    margin: 0;
    list-style-type: none; 
    }
    
ul.oglavl li {
    border-bottom: 2px dotted #000; /* Необязателен. Здесь задается толщина, тип и цвет точек */
    position: relative;
    padding: 0;
    margin-bottom: 5px; /* Необязателен. Задается для установки расстояния между блоками li */
    }
    
ul.oglavl li span {
    background: rgb(205,215,230); /* Это необходимо, чтобы перекрыть точки фоном */
    margin: 0;
    }

ul.oglavl li span.text, ul.oglavl li span.page {
    bottom: -8px; /* Смещаем значимые блоки, чтобы они перекрыли точки */
    }

ul.oglavl span.text {
    position: relative;
    margin-right:7em; /* Задается чтобы текст не заходил на номера страниц */
    }
    
ul.oglavl span.page {
    position: absolute;
    right: 0;
    padding-left:7px; /* Необязателен. Задается чтобы точки не подходили вплотную к номерам страниц */
    }

@media (max-width: 2000px) {
    .welcome {
    height: 800px;
}
}

@media (max-width: 1700px) {
    .welcome {
    height: 600px;
}
}

@media (max-width: 1500px) {
    .welcome {
    height: 550px;
}
}

@media (max-width: 1350px) {
    .welcome {
    height: 500px;
}
}

    /*если ширина области просмотров не более 1160px*/
@media (max-width: 1160px) {
    /*то браузер применяет эти правила*/
    .welcome {
    height: 450px;
}

}

@media (max-width: 1060px) {
    .menu {
    font-size: 14px;
}
.container {
    width: 960px;
}

}

@media (max-width: 960px) {
    .container {
    width: 870px;
}

.welcome {
    height: 360px;
}
}

@media (max-width: 870px) {
    .welcome {
    height: 320px;
}
    .menu ul {
    padding: 0 0 0 100px;

}
.container {
    width: 750px;
}
}

@media (max-width: 750px) {
    .menu ul {
    padding: 0 0 0 50px;

}
.container {
    width: 650px;
}
    .welcome {
    height: 280px;
}
}

@media (max-width: 650px) {
    .menu ul {
    padding: 0 0 0 10px;

}
    .menu {
    font-size: 12px;
}
    .welcome {
    height: 230px;
}
.container {
    width: 450px;
}
.welcome1 {
    overflow: auto;
    height: 300px;
}

.welcome1 .logo {
    float: none;
}

.welcome1 img {
    width: 180px;
}

.welcome1 .text {
    float: none;
    text-align: left;
}
}
  
@media (max-height: 1600px) {
    body {
    background: rgb(205,215,230);
}
}
